/*global styles*/
*{
    background-color: rgb(red, green, blue);
    margin: 0;
    padding: 0;
}

body{
    font-family: system-ui, -apple-system, blinkMacSystemFont, 'segoe UI', roboto, Oxy;
    line-height: 1.6;
    color: #333;
}

.container{
    padding: 0 20px;
    margin:0 auto;
    max-width: 1200px;
}

.navbar{
    background-color: green;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.buttons{
    display: flex;
    align-items: center;
}
.button {
    padding: 10px 20px;
    border-radius: 35px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 40px;
    color: white;
}
.patner {
    background-color: purple;
}
.hire {
    background-color: #f5f5dc;
    color: purple;
}
.Explore {
    background-color: #f1e543;
}
.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 25px;
}
.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
}
.hero-section{
    display: flex;
    background-image: url("https://refactory.academy/wp-content/uploads/2025/08/0G2A8223-2048x1365.jpg");
    min-height: 100vh;
    align-items: center;
    margin-top: 70px;
}



.main-content {
  display: flex;
  justify-content: space-between;
  color: black;
}

.left-image, .right-image {
  width: 50%;
}

.left-image img, .right-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Explore {
  padding: 20px;
  background-color: #f7f7f7;

}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #6c5ce7; /* purple */
  color: #fff;
  padding: 20px;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer .brand {
  width: 25%;
}

footer .resources, footer .contact, footer .location {
  width: 20%;
}

footer h4 {
  margin-top: 0;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer .copyright {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #fff;
}